.container {
    font-family: 'Quicksand', sans-serif;
    background-color: #e3f2c3;
}

h1 {
    margin: 35px 0 20px 0 !important;
}

.form-group {
 text-align: center;
}

.form-control {
    font-family: 'Quicksand', sans-serif;
    margin: .7%;
    width: 100%;
    max-width: 345px;
}

button {
    margin: 10px;
    border-radius: 12px;
    border: none;
    background-color: #0d5743;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

