@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.header {
    font-family: 'Quicksand', sans-serif;
}

nav {
    background-color: #0d5743;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
}

ul {
    list-style: none;
    color: white;
  }

li {
    float: right;
    display: inline;
    margin: 10px;  
  }