.navbar {
    font-family: 'Quicksand', sans-serif;
    background-color: #0d5743;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding-right: 10px;
}

ul {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
  }

li {
    float: left;
    display: inline;
    margin: 10px; 

  }

a {
  text-decoration: none;
  color: white;
}